.navbar {
    background-color: #b9d7ea;
    padding: 5% 20%;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
}

.nav-item {
    padding: 1rem;
}

body {
    text-align: center;
}

/* Top container */

.top-container {
    background-color: #b9d7ea;
}

h2 {
    font-family: 'Sacramento', sans-serif;
    font-size: 4.5rem;
    padding: 3% 15% 7% 15%;
}

.rocket {
    position: relative;
    left: 20%;
    top: 80px;
    width: 10%;
}

.bulb {
    position: relative;
    right: 20%;
    bottom: 100px;
    width: 10%;
}

/* Last Project */
.last-project {
    text-align: center;
    padding: 10rem;
    font-family: "Montserrat", sans-serif;
}

.project-row {

    width: 60%;
    margin: 100px auto 175px auto;
    text-align: left;
    line-height: 2;
}

.small1 {
    float: right;
    width: 35%;
    margin-left: 30px;

}